.app
    font-family: Montserrat, Arial, "sans-serif"
    position: fixed
    top: 0; left: 0; right: 0; bottom: 0;
    height: 100vh
    overflow: auto
    display: flex
    flex-direction: column
    align-items: center