.dialog
    position: fixed
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100vw; height: 100vh
    background: rgba(0,0,0,0.5)
    z-index: 10

    display: flex
    align-items: flex-start
    justify-content: center 

    &__enter 
        opacity: 0.01
        .dialog__content
            transform: translateY(-100%)

    &__enter__active 
        opacity: 1
        transition: opacity 300ms linear
        .dialog__content
            transform: translateY(0)
            transition: transform 400ms
            transition-delay: 300ms

    &__leave
        opacity: 1
        .dialog__content
            transform: translateY(0)


    &__leave__active 
        opacity: 0.01
        transition: opacity 300ms
        transition-delay: 300ms
        .dialog__content
            transform: translateY(-100%)
            transition: transform 300ms

    &__content
        pointer-events: all
        display: flex
        flex-direction: column
        background: white
        box-sizing: border-box
        padding: 2em
        width: 90vw
        max-width: 900px
        box-shadow: 0px 5px 15px rgba(0,0,0,0.2)

        > div:last-child
            display: flex
            flex-direction: column

    &__text, &__text___invalid
        border: none
        padding: 10px 0
        font-size: 1.2em
        display: block
        margin-bottom: 10px
        box-sizing: border-box
        outline: none
        width: 100%
        border-bottom: 2px solid rgba(0,0,0,.1)

    &__text___invalid
        border-bottom-color: #F44336

    &__label
        font-variant: small-caps
        text-transform: lowercase
        color: rgba(0,0,0,.3)
        margin-top: 15px

    &__tools
        display: flex
        justify-content: flex-end
        align-items: flex-end

    &__tools__btn
        width: 2.5em
        height: 2.5em
        display: flex
        align-items: center
        justify-content: center
        font-variant: small-caps
        text-transform: uppercase
        font-size: 1.2em
        align-self: flex-end
        color: rgb(150,150,150)
        cursor: pointer
        margin-left: 1em
        
        box-shadow: 0px 2px 8px rgba(0,0,0,0.2)

        margin-bottom: 2em
        border-radius: 100%
        transition: 0.2s all

        svg 
            width: 24px
            height: 24px

        svg *
            fill: rgb(150,150,150)
            transition: fill 0.2s

        &:hover
            background: #F44336
            color: white

        &:hover svg *
            fill: white


    &__button, &__button___working
        height: 2.5em
        background: white
        box-shadow: 0px 2px 8px rgba(0,0,0,0.2)
        border-radius: 5px
        border: none
        font-size: 1.2em
        background: #2196F3
        color: rgba(255,255,255,1)
        cursor: pointer
        margin: 10px 0
        text-transform: lowercase
        font-variant: small-caps
        line-height: 0


    &__button___working
        background: #607D8B
        pointer-events: none
        cursor: auto

    h1, h2
        font-weight: normal
    h1
        font-size: 3em
        margin: 0

    h2
        margin: .5em 0 1.5em
        font-size: 1.2em