.filters
    width: 100%
    height: 60px
    display: flex

    transform-origin: top center
    &__input
        border: none
        background: rgba(0,0,0,0.02) 
        padding: 0 2.5em
        flex-grow: 1
        border-right: 1px solid rgba(0,0,0,0.05)
        box-sizing: border-box
        outline: none
        &:last-child
            border-right: none
    &__enter 
        height: 0
            
    &__enter__active 
        height: 60px
        transition: all 300ms

    &__leave
        height: 60px

    &__leave__active 
        height: 0
        transition: all 300ms