.recipelist
    width: 90vw
    max-width: 900px

    background: white
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1)

    margin: 5vh 0
    border-radius: .3em

.recipe 
    padding: 2em
    box-sizing: border-box
    display: flex
    width: 100%
    cursor: pointer

    border-top: 1px solid rgba(0,0,0,0.05)
    overflow: hidden


    &__info
        flex-grow: 1
        &__name
            font-size: 2em

        &__author
            font-size: 0.8em

    
    &__button
        background: white
        box-shadow: 0px 2px 8px rgba(0,0,0,0.1)
        border: none
        border-radius: .3em
        font-size: 1.2em
        padding: 0 2em

        display: flex
        align-items: center
        justify-content: center

        margin-left: 1em 
        text-transform: lowercase
        font-variant: small-caps
        color: rgba(0,0,0,0.6)
        cursor: pointer

        @media (max-width: 1000px)
            padding: 0 0
            min-width: 2.5em
            width: 2.5em
            height: 2.5em
            margin-right: 0


    &__button__label
        margin-right: .4em
        @media (max-width: 1000px)
            display: none
            margin-right: 0
    
    &__button__icon svg
        width: 24px 
        min-height: 24px

    &__button__icon svg *
        fill: rgba(0,0,0,0.6)
        


.recipeadd
    height: 6em
    display: flex
    align-items: center
    justify-content: flex-end
    position: relative
    box-sizing: border-box
    padding: 0 2em

    border-radius: .3em .3em 0 0

    background: linear-gradient(to left, #8BC34A, #03A9F4)

    &__button
        text-transform: lowercase
        font-variant: small-caps
        display: block
        height: 2.5em
        padding: 0 3em
        border-radius: .3em
        display: flex
        justify-content: center
        align-items: center
        box-sizing: border-box
        color: rgba(0,0,0,0.6)
        cursor: pointer
        background: white
        line-height: 0

        font-size: 1.2em
        box-shadow: 0px 2px 8px rgba(0,0,0,0.1)

        position: absolute
        left: 50%
        margin-left: -150px
        width: 300px

    &__login
        position: absolute
        top: 0; left: 0; right: 0; bottom: 0
        z-index: 1
        display: flex
        justify-content: center
        align-items: center
        border-radius: .3em .3em 0 0
        background: linear-gradient(to left, #E91E63, #FF5722)

        > div
            pointer-events: none

        &__enter
            opacity: 1

        &__enter__active
            opacity: 1

        &__leave
            opacity: 1

        &__leave__active
            opacity: 0
            transition: all 300ms

    &__filters
        text-transform: lowercase
        font-variant: small-caps
        display: block
        height: 2.5em
        width: 2.5em
        line-height: 0
        border-radius: .3em
        font-size: 1.2em
        box-shadow: 0px 2px 8px rgba(0,0,0,0.1)
        display: flex
        justify-content: center
        align-items: center
        box-sizing: border-box
        color: rgba(0,0,0,0.6)
        cursor: pointer
        background: white

        position: relative
        z-index: 2
        svg
            width: 24px
            height: 24px
        
        svg *
            fill: rgba(0,0,0,0.6)